<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors allowNestedErrors="true" defaultRedirect="C:\Users\86182\Desktop\html学习\楠翔官网.HTML" mode="On">
            <error redirect="C:\Users\86182\Desktop\html学习\连接网页.html" statusCode="404" />
        </customErrors>
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="C:\Users\86182\Desktop\html学习\楠翔官网.HTML" />
            </files>
        </defaultDocument>
        <staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="applocation/x-Font-woff" />
        </staticContent>
        <modules>
            <add name="UriCacheModule" />
            <add name="FileCacheModule" />
            <add name="TokenCacheModule" />
            <add name="TracingModule" />
            <add name="RequestMonitorModule" />
            <add name="ManagedEngine64" preCondition="integratedMode,runtimeVersionv2.0,bitness64" />
            <add name="ManagedEngine" preCondition="integratedMode,runtimeVersionv2.0,bitness32" />
            <add name="ManagedEngineV4.0_32bit" preCondition="integratedMode,runtimeVersionv4.0,bitness32" />
            <add name="ManagedEngineV4.0_64bit" preCondition="integratedMode,runtimeVersionv4.0,bitness64" />
        </modules>
    </system.webServer>
</configuration>
